@import url("https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Moirai+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap");

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* Header */
.header-style nav {
  display: flex;
  align-items: center;
  padding: 25px 0;
  background-color: #004640;
}
.header-style .header-logo h1 {
  margin: 0 20px;
  font-size: 2.1rem;
  /* font-family: "Berkshire Swash", cursive; */
  /* font-family: "Moirai One", cursive; */
  font-family: "DM Serif Display", serif;
  color: #ece0cd;
}
.header-style nav ul {
  margin: 0 30px 0 auto;
}
.header-style nav ul li {
  list-style: none;
  display: inline-block;
  margin: 0 19px;
  font-size: 1.5rem;
  border: 2px solid;
  border-color: transparent;
  border-radius: 15px;
  padding: 5px 15px;
  transition: border-color 0.5s ease-in;
  /* font-family: "Berkshire Swash", cursive; */
  /* font-family: "Moirai One", cursive; */
  font-family: "DM Serif Display", serif;
}
.header-style nav ul li a {
  text-decoration: none;
  color: #ece0cd;
}
.header-style nav ul li:hover {
  border-color: #b96d6e;
  /* background-color: red; */
}
.header-style .header-logo .certificate {
  position: relative;
  width: 32px;
  height: 32px;
  margin: 0 3px;
  top: 5px;
}

/* Home page Component */

.main-div-homepage {
  margin: 0;
  background-color: #004640;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20px;
}
/* .welcome-container {
  line-height: 30px;
  background-image: url("https://media3.giphy.com/media/v1.Y2lkPTc5MGI3NjExYWVudTByd2sybmh0ZjBqN2RlZGc4enU3cTVxcjlpNGNpYzJrNjhhYyZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/gJ2RBKAD2Qc9dMUYl6/giphy.gif");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 1080px;
}
.welcome-container h1 {
  margin: 0;
  font-size: 4rem;
}
.welcome-container p {
  font-size: 2rem;
}
.welcome-container {
  margin: 100px 0;
}
.welcome-paragraphs {
  width: 80%;
  font-size: 24px;
} */

.overlay {
  background-color: rgba(84, 84, 84, 0.4);
  background-size: 100% cover;
  width: 100%;
  max-width: 100%;
  height: calc(100vh - 80px);
}

.bg-img {
  background-size: 100%;
  background-image: url("./giphy.gif");
  height: calc(100vh - 80px);
  background-repeat: no-repeat;
  width: 100%;
  max-width: 100%;
  /* filter: opacity(0.5); */
}
.welcome-container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 80px);
  text-align: center;
  line-height: 60px;
  color: #ece0cd;
  font-family: "DM Serif Display", serif;
}
.welcome-container h1 {
  margin: 0;
  font-size: 4rem;
}
.welcome-container p {
  font-size: 2rem;
  margin: 0;
}
.welcome-paragraphs {
  width: 70%;
  font-size: 24px;
  font-family: "DM Serif Display", serif;
  color: #ece0cd;
}
.welcome-paragraphs:first-of-type {
  margin-top: 50px;
}

hr.rounded {
  margin: 0;
  border-top: 8px solid #ece0cd;
  /* border-radius: 5px; */
  width: calc(100% - 2px);
}
