@import url("https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Moirai+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap");

.App {
  text-align: center;
}

body {
  background-color: #ece0cd;
}

/* Header */
.header-style nav {
  display: flex;
  align-items: center;
  padding: 25px 0;
  background-color: #004640;
}

.header-style .header-logo h1 {
  margin: 0 20px;
  font-size: 2.1rem;
  /* font-family: "Berkshire Swash", cursive; */
  /* font-family: "Moirai One", cursive; */
  font-family: "DM Serif Display", serif;
  color: #ece0cd;
}

.header-style nav ul {
  margin: 0 30px 0 auto;
}

.header-style nav ul li {
  list-style: none;
  display: inline-block;
  margin: 0 19px;
  font-size: 1.5rem;
  border: 2px solid;
  border-color: transparent;
  border-radius: 15px;
  padding: 5px 15px;
  transition: border-color 0.5s ease-in;
  font-family: "DM Serif Display", serif;
}

.header-style nav ul li a {
  text-decoration: none;
  color: #ece0cd;
}

.header-style nav ul li:hover {
  border-color: #b96d6e;
  /* background-color: red; */
}
.header-style .header-logo .certificate {
  position: relative;
  width: 32px;
  height: 32px;
  margin: 0 3px;
  top: 5px;
}

/* .card-container {
  display: flex;
  width: 100%;
  padding-right: 0;
} */

.card-wrapper {
  display: flex;
  flex-direction: column;
  width: 250px;
  background-color: #004640;
  border-radius: 5px;
  /* margin-bottom: 1em;
  margin-right: 0; */
  padding-bottom: 30px;
  justify-content: space-between;
  justify-self: center;
}

.button-container {
  height: auto;
  width: 10px;
  margin-top: 15px;
  margin-left: 15px;
  display: flex;
  margin-bottom: 10px;
}

#delete {
  margin-right: auto;
}

.list-students-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  row-gap: 50px;
  margin: 30px auto;
  max-width: 1200px;
  justify-content: center;
  padding: 0 0px;
  column-gap: 00px;
}

.add-btn {
  margin-bottom: 45px;
}

.main-div-homepage {
  margin: 0;
  background-color: #004640;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20px;
}

.welcome-background {
  background-size: 100%;
  background-image: url("./giphy.gif");
  height: calc(100vh - 80px);
  background-repeat: no-repeat;
  width: 100%;
  max-width: 100%;
  /* filter: opacity(0.5); */
}
.background-filter {
  background-color: rgba(84, 84, 84, 0.4);
  background-size: 100% cover;
  width: 100%;
  max-width: 100%;
  height: calc(100vh - 80px);
}
.welcome-container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 80px);
  text-align: center;
  line-height: 60px;
  color: #ece0cd;
  font-family: "DM Serif Display", serif;
}
.welcome-container h1 {
  margin: 0;
  font-size: 4rem;
}
.welcome-container p {
  font-size: 2rem;
  margin: 0;
}
.welcome-paragraphs {
  width: 70%;
  font-size: 24px;
  font-family: "DM Serif Display", serif;
  color: #ece0cd;
}
.welcome-paragraphs:first-of-type {
  margin-top: 50px;
}

.main-div-homepage hr {
  margin: 0;
  border-top: 8px solid #ece0cd;
  /* border-radius: 5px; */
  width: calc(100% - 2px);
}
